ul
{
  list-style: none;
  padding-left: 0;
}

li{
  padding-top: 15px;
  align-items: center;
  display: flex;
}

i{
  margin-right: 5px;
  font-size: 25px;
}

input, textarea{
  margin-bottom: 10px;
}