<div class="wave"></div>
<div class="container-fluid">
  <br>
  <div class="row">
        <div class="col-md-4 col-sm-12">
      <h4 style="text-align: center;">JUNTA DIRECTIVA</h4>
      <ul style="margin-left: 12px;">
        <li>Representante Legal: Arney Antonio Tapasco Reyes</li>
        <li>Presidente: Carlos Emilio Durán</li>
        <li>Vicepresidente: Manuel Suarez</li>
        <li>Secretaria: Diana Milena Bueno</li>
        <li>Tesorero: Jhon Jairo Ochoa Rendón</li>
        <li>Vocal 1: Efrén Reyes</li>
        <li>Vocal 2: Xiomara León</li>
      </ul>
       <br>
    </div>

    <div class="col-md-4 col-sm-12">
      <h4>JUNTA DE CONTROL Y VIGILANCIA</h4>
      <ul>
        <li>Marta Guapacha</li>
        <li>Dionisio Bueno</li>
        <li>Óscar Anibal Largo</li>
        <li>Albeiro Largo</li>
        <li>Marta Luz Motato</li>
        <li>Gerardo Ramírez</li>
        <li>José Danilo Bueno</li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-12" style="align-content: end;">
      <div style="text-align: center;">
        <a href="#">
          <img src="../../assets/logos/logoacical.png" alt="Logo institucional">
        </a>
      </div>
      <div style="text-align: center;">
        <p>
          <b>Horarios de atención</b>
          <br>
          <b>Lunes a viernes:</b>
          <br>
          08:00 am a 12:00 pm y 02:00 pm a 06:00 pm
          <br>
          <b>Sábados:</b>
          <br>
          08:00 am a 01:00 pm
          <br>
          Riosucio, Caldas
        </p>
      </div>
      <div style="text-align: center;">
        <a target="_blank" href="https://goo.gl/maps/enSh6DoTqj9MguWp8"><i class="bi bi-geo-alt-fill"></i>
          <span class="tooltiptext">¿Cómo llegar a nuestra sede?</span>
        </a>
        
        <a href="tel:+573002204398"><i class="bi bi-telephone-inbound"></i>
          <span class="tooltiptext">¡Comunícate con nosotros!</span>
        </a>
        
        <a target="_blank" href="mailto:acical12@gmail.com"><i class="bi bi-envelope-at"></i>
          <span class="tooltiptext">Envíanos un correo con tu solicitud</span>
        </a>
      </div>
          <br>
    </div>
  </div>
</div>
<div class="credits">
  <p style="text-align: center; background-color: #3f3c3c;">
    &reg; Asociación de Cabildos Indígenas de Caldas | Desarrollado por: JMZH/JSSV
  </p>
</div>
