<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>INFORMACIÓN CONTACTO</h2>
      <ul class="font">
        <li><i class="bi bi-calendar-week"></i>  Horario: 8 a.m a 12 m y 2 p.m a 6 p.m</li>
        <li><i class="bi bi-geo-alt-fill"></i>  Dirección: Riosucio Caldas, Comunidad El Edén, Vía Bonafont, Casa Grande CRIDEC</li>
        <li><i class="bi bi-telephone-inbound"></i>  Teléfonos: 321 830 69 68 - 300 220 43 98</li>
        <li><i class="bi bi-envelope-at"></i> Correo electrónico: acical12@gmail.com</li>
        <li><i class="bi bi-browser-chrome"></i> Página Web: www.acical.org</li>
        <li><i class="bi bi-globe"></i> Riosucio Caldas</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>ENVÍANOS UN MENSAJE</h2>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre completo">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Número de teléfono">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Mensaje" style=" max-width: 90%; min-height: 150px; max-height: 150px;"></textarea>
        </div>
        <br>
        <button type="button" class="btn btn-success" onclick="enviarInformacion()">Enviar</button>
      </form>
    </div>
  </div>
</div>
