<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h4>INFORMACIÓN</h4>
      <ul class="font">
        <li><i class="bi bi-clock"></i>8AM a 12M y 2PM a 6PM</li>
        <li><i class="bi bi-geo"></i>Riosucio, Caldas</li>
        <li><i class="bi bi-geo-alt-fill"></i><a target="_blank" href="https://goo.gl/maps/enSh6DoTqj9MguWp8">Comunidad
            El Edén, Vía Bonafont, Casa Grande CRIDEC</a></li>
        <li><i class="bi bi-telephone-inbound"></i><a href="tel:+573218306968">321 830 6968 </a> - <a
            href="tel:+573002204398"> 300 220 43 98</a></li>
        <li><i class="bi bi-envelope-at"></i>
          <a target="_blank" href="mailto:acical12@gmail.com">acical12@gmail.com</a>
        </li>
        <li><i class="bi bi-globe"></i><a target="_blank" href="https://www.acical.org">www.acical.org</a></li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4>JUNTA DIRECTIVA</h4>
      <!-- <form id="formularioContacto">
        <div class="form-group">
          <label for="nombre">Nombre completo</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digita tu nombre...">
        </div>
        <div class="form-group">
          <label for="nombre">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputPassword1" placeholder="ejemplo@correo.com">
        </div>
        <div class="form-group">
          <label for="nombre">Número de teléfono</label>
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Ejemplo: 3001234567">
        </div>
        <div class="form-group">
          <label for="nombre">Escribe tu mensaje</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Escribe en esta caja de texto tu mensaje..." style=" max-width: 100%; min-height: 150px; max-height: 150px;"></textarea>
        </div>
        <button type="submit" class="btn" onclick="enviarInformacion()">Enviar <i class="bi bi-send-check"></i></button>
      </form> -->
      <ul>
        <li>Representante Legal: Arney Antonio Tapasco Reyes</li>
        <li>Presidente: Carlos Emilio Durán</li>
        <li>Vicepresidente: Manuel Suarez</li>
        <li>Secretaria: Diana Milena Bueno</li>
        <li>Tesorero: Jhon Jairo Ochoa Rendón</li>
        <li>Vocal 1: Efrén Reyes</li>
        <li>Vocal 2: Xiomara León</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4>JUNTA DE CONTROL Y VIGILANCIA</h4>
      <ul>
        <li>Marta Guapacha</li>
        <li>Dionisio Bueno</li>
        <li>Óscar Anibal Largo</li>
        <li>Albeiro Largo</li>
        <li>Marta Luz Motato</li>
        <li>Gerardo Ramírez</li>
        <li>José Danilo Bueno</li>
      </ul>
    </div>
  </div>
</div>
