.institucional{
  width: 100%;
  height: 15%;
  margin: 10px;
}

@media only screen and (max-width: 768px){
  h3{
    margin-top: 125px;
  }
}

.grid{
  float: left;
  width: 24%;
  text-align: center;
  margin: 5px;
}

img{
  width: 50%;
  height: 50%;
  text-align: center;
}

p{
  width: 100%;
  height: fit-content;
  text-align: justify;
}

.accordion-button{
  background-color: white;
}
