.grid{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.grid a{
  box-sizing: border-box;
  display: inline-flex;
  width: 300px;
  height: 150px;
  align-items: center;
  margin: 10px;
}

.container-fluid{
  padding: 15px;
  background-color: #F9EB5A;
}

.btn-light{
  background-color: #5069AD;
  color: whitesmoke;
  border: #5069AD;
}

.btn-light:hover{
  background-color: #668EFA;
  border: white;
}