.image{
    width: 249px;
    height: 150px;
    opacity: 0.9;
    border-radius: 3px;
}

.grid{
  display: contents;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.card{
    width: 250px;
    height: 410px;
    margin: 25px;
}