<div class="container-fluid">
  <div class="row">
  <h4>LISTA DE ACTIVIDADES</h4>
      
    <div class="grid" *ngIf="actividadesPost$ | async as actividadPost">
      <div *ngFor="let actividadPosts of actividadPost.items" >
        <div class="card">
          <img src="../../assets/images/{{ random }}.png" class="image" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ actividadPosts.fields.tituloActividad }}</h5>
            <a [routerLink]="['actividades', actividadPosts.sys.id]" class="btn btn-info">Ver más...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>