<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h1> <a [routerLink]="['']"> <i class="bi bi-arrow-left-square icon"></i> </a> </h1>
    </div>
    <div class="col-md-8 background">
      <main *ngIf="actividadEspecificaPost$ | async as actividadEsp">
          <h1 style="text-align: center;">{{ actividadEsp.fields.tituloActividad }}</h1>
          <p style="text-align: justify;">{{ actividadEsp.fields.descripcionActividad }}</p>
          <div class="grid">
            <img *ngFor="let algo of actividadEsp.fields.registroFotografico" class="image img-thumbnail" [src]="algo.fields.file.url" alt="">
          </div>
        </main>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
