.content{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C5E2FF;
    min-height: 550px;
    max-height: fit-content;
}

.centered-content{
    margin-top: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

ul{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

a{
    color: black;

}

a:visited{
    color: #7D0071;
}