.margen {
  margin-top: 20px;
}

@media only screen and (max-width: 768px){
  .small-screen{
    display: none!important;
  }
}

img {
  width: 90px;
}

.navbar-text {
  padding: 10px;
  font-weight: bold;
}

.gradient-text {
  /* background-image: linear-gradient(90deg, #0099ff, #fffb00, #ff0000); */
  background-image: linear-gradient(90deg, rgba(0,153,255,1) 0%, rgba(85,181,21,1) 29%, rgba(255,251,0,1) 50%, rgba(255,0,0,1) 100%);
  background-clip: text;
  color: transparent;
}

app-carousel {
  position: relative;
  display: flex;
  margin-top: 120px;
}